--prefer-binary
instagrapi==2.18.18
requests==2.32.3
Pillow==11.3.0
imageio-ffmpeg==0.6.0
moviepy==2.2.1
imageio==2.37.0
proglog==0.1.12
python-dotenv==1.1.0
numpy==1.26.4
decorator==5.1.1
tqdm==4.66.5
PySocks==1.7.1
pycryptodomex==3.20.0
pydantic==2.9.2
